[data-role="footer"] {text-align: center; padding: 5px 0;}
.forrit { padding: .25em; text-align:center;}
#abercrombie { background-image:url('icons/abercrombie.png'); }
#arbuthnot { background-image:url('icons/arbuthnot.png'); }
#baird { background-image:url('icons/baird.png'); }
#barclay-dress { background-image:url('icons/barclay-dress.png'); }
#barclay { background-image:url('icons/barclay.png'); }
#beeeach { background-image:url('icons/beeeach.png'); }
#birrell { background-image:url('icons/birrell.png'); }
#black-and-white { background-image:url('icons/black-and-white.png'); }
#blair { background-image:url('icons/blair.png'); }
#borthwick-dress { background-image:url('icons/borthwick-dress.png'); }
#borthwick { background-image:url('icons/borthwick.png'); }
#bruce { background-image:url('icons/bruce.png'); }
#bryan { background-image:url('icons/bryan.png'); }
#buchanan { background-image:url('icons/buchanan.png'); }
#cameron-hunting { background-image:url('icons/cameron-hunting.png'); }
#cameron { background-image:url('icons/cameron.png'); }
#carmichael { background-image:url('icons/carmichael.png'); }
#carnegie { background-image:url('icons/carnegie.png'); }
#chisholm { background-image:url('icons/chisholm.png'); }
#clark-clergy- { background-image:url('icons/clark-clergy-.png'); }
#cranston { background-image:url('icons/cranston.png'); }
#davidson { background-image:url('icons/davidson.png'); }
#douglas-green- { background-image:url('icons/douglas-green-.png'); }
#douglas-grey- { background-image:url('icons/douglas-grey-.png'); }
#dunbar { background-image:url('icons/dunbar.png'); }
#dunblane { background-image:url('icons/dunblane.png'); }
#elliot { background-image:url('icons/elliot.png'); }
#erskine { background-image:url('icons/erskine.png'); }
#filly { background-image:url('icons/filly.png'); }
#fletcher { background-image:url('icons/fletcher.png'); }
#foobar { background-image:url('icons/foobar.png'); }
#forbes { background-image:url('icons/forbes.png'); }
#forsyth { background-image:url('icons/forsyth.png'); }
#fox-hunting { background-image:url('icons/fox-hunting.png'); }
#fraser { background-image:url('icons/fraser.png'); }
#galbraith { background-image:url('icons/galbraith.png'); }
#galloway { background-image:url('icons/galloway.png'); }
#gow { background-image:url('icons/gow.png'); }
#graham-of-menteith { background-image:url('icons/graham-of-menteith.png'); }
#graham-of-montrose { background-image:url('icons/graham-of-montrose.png'); }
#gunn { background-image:url('icons/gunn.png'); }
#hamilton { background-image:url('icons/hamilton.png'); }
#hunter { background-image:url('icons/hunter.png'); }
#ingles { background-image:url('icons/ingles.png'); }
#innes-macinnes { background-image:url('icons/innes-macinnes.png'); }
#irvine { background-image:url('icons/irvine.png'); }
#keith { background-image:url('icons/keith.png'); }
#kennedy { background-image:url('icons/kennedy.png'); }
#kincaid { background-image:url('icons/kincaid.png'); }
#lamont { background-image:url('icons/lamont.png'); }
#lauder { background-image:url('icons/lauder.png'); }
#lennox { background-image:url('icons/lennox.png'); }
#leslie-dress { background-image:url('icons/leslie-dress.png'); }
#leslie { background-image:url('icons/leslie.png'); }
#lindsay { background-image:url('icons/lindsay.png'); }
#livingston-e- { background-image:url('icons/livingston-e-.png'); }
#logan-and-maclennan { background-image:url('icons/logan-and-maclennan.png'); }
#macalpine { background-image:url('icons/macalpine.png'); }
#macarthur { background-image:url('icons/macarthur.png'); }
#macaulay-hunting { background-image:url('icons/macaulay-hunting.png'); }
#macauly { background-image:url('icons/macauly.png'); }
#macbeth { background-image:url('icons/macbeth.png'); }
#maccallum { background-image:url('icons/maccallum.png'); }
#maccoll { background-image:url('icons/maccoll.png'); }
#macdonald-lord-of-the-isles { background-image:url('icons/macdonald-lord-of-the-isles.png'); }
#macdonald-of-ardnamurchan { background-image:url('icons/macdonald-of-ardnamurchan.png'); }
#macdonald-of-clanranald { background-image:url('icons/macdonald-of-clanranald.png'); }
#macdonald-of-keppoch { background-image:url('icons/macdonald-of-keppoch.png'); }
#macdonald-of-kingsburgh { background-image:url('icons/macdonald-of-kingsburgh.png'); }
#macdonald { background-image:url('icons/macdonald.png'); }
#macduff { background-image:url('icons/macduff.png'); }
#macewan { background-image:url('icons/macewan.png'); }
#macfarlane { background-image:url('icons/macfarlane.png'); }
#macfie-macphee- { background-image:url('icons/macfie-macphee-.png'); }
#macgregor { background-image:url('icons/macgregor.png'); }
#machardy { background-image:url('icons/machardy.png'); }
#maciver { background-image:url('icons/maciver.png'); }
#mackeane { background-image:url('icons/mackeane.png'); }
#mackintosh { background-image:url('icons/mackintosh.png'); }
#maclachlan { background-image:url('icons/maclachlan.png'); }
#maclain-of-lochbuie { background-image:url('icons/maclain-of-lochbuie.png'); }
#maclaren { background-image:url('icons/maclaren.png'); }
#maclean-of-duart { background-image:url('icons/maclean-of-duart.png'); }
#macleod { background-image:url('icons/macleod.png'); }
#macmillan { background-image:url('icons/macmillan.png'); }
#macnab { background-image:url('icons/macnab.png'); }
#macneil-of-barra { background-image:url('icons/macneil-of-barra.png'); }
#macneil-of-colonsay { background-image:url('icons/macneil-of-colonsay.png'); }
#macneil { background-image:url('icons/macneil.png'); }
#macphail { background-image:url('icons/macphail.png'); }
#macpherson { background-image:url('icons/macpherson.png'); }
#macquarrie { background-image:url('icons/macquarrie.png'); }
#macqueen { background-image:url('icons/macqueen.png'); }
#macrae { background-image:url('icons/macrae.png'); }
#mactaggart { background-image:url('icons/mactaggart.png'); }
#mactavish { background-image:url('icons/mactavish.png'); }
#maxwell { background-image:url('icons/maxwell.png'); }
#melville { background-image:url('icons/melville.png'); }
#menzies { background-image:url('icons/menzies.png'); }
#moncreiffe { background-image:url('icons/moncreiffe.png'); }
#morgan { background-image:url('icons/morgan.png'); }
#morrison { background-image:url('icons/morrison.png'); }
#murray-of-tullibardine { background-image:url('icons/murray-of-tullibardine.png'); }
#napier { background-image:url('icons/napier.png'); }
#nesbitt { background-image:url('icons/nesbitt.png'); }
#nithsdale { background-image:url('icons/nithsdale.png'); }
#oliphant { background-image:url('icons/oliphant.png'); }
#oregon { background-image:url('icons/oregon.png'); }
#phaedra { background-image:url('icons/phaedra.png'); }
#ramsay { background-image:url('icons/ramsay.png'); }
#rose { background-image:url('icons/rose.png'); }
#ross { background-image:url('icons/ross.png'); }
#ruthven { background-image:url('icons/ruthven.png'); }
#scott { background-image:url('icons/scott.png'); }
#shaw { background-image:url('icons/shaw.png'); }
#smith { background-image:url('icons/smith.png'); }
#stewart-of-athol { background-image:url('icons/stewart-of-athol.png'); }
#stuart-of-galloway { background-image:url('icons/stuart-of-galloway.png'); }
#sutherland { background-image:url('icons/sutherland.png'); }
#taylor { background-image:url('icons/taylor.png'); }
#two-color { background-image:url('icons/two-color.png'); }
#urquhart { background-image:url('icons/urquhart.png'); }
#wallace { background-image:url('icons/wallace.png'); }
#watson { background-image:url('icons/watson.png'); }
#wellington { background-image:url('icons/wellington.png'); }
